Input/flows.json
[{"id":"a6aebc35.5a0b5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5631eafe.cc5394","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"37bf3596.1a6c7a","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"efcc7fa2.bef9a","type":"ui_tab","z":"","name":"Smart Agri","icon":"dashboard","disabled":false,"hidden":false},{"id":"8a56225b.55749","type":"ui_group","z":"","name":"motor commands","tab":"efcc7fa2.bef9a","order":1,"disp":true,"width":"6","collapse":false},{"id":"4626ff4a.f859","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8606fe79.45a5f","type":"ibmiot in","z":"5631eafe.cc5394","authentication":"apiKey","apiKey":"37bf3596.1a6c7a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"node_id","applicationId":"","deviceType":"node","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":300,"wires":[["9a62f80b.d98078","3c1bf043.8f32c","7aa6ca55.51baf4","f62ce713.c80458"]]},{"id":"9a62f80b.d98078","type":"debug","z":"5631eafe.cc5394","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":300,"wires":[]},{"id":"3c1bf043.8f32c","type":"function","z":"5631eafe.cc5394","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["9a62f80b.d98078","e5b7ca11.714358"]]},{"id":"7aa6ca55.51baf4","type":"function","z":"5631eafe.cc5394","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["9a62f80b.d98078","5dcdb256.6dcf7c"]]},{"id":"f62ce713.c80458","type":"function","z":"5631eafe.cc5394","name":"ObjectTemp","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["9a62f80b.d98078","b0d1734f.6dfa"]]},{"id":"b0d1734f.6dfa","type":"ui_gauge","z":"5631eafe.cc5394","name":"","group":"8a56225b.55749","order":2,"width":0,"height":0,"gtype":"gage","title":"soil moisture","label":"Degree","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":60,"wires":[]},{"id":"5dcdb256.6dcf7c","type":"ui_gauge","z":"5631eafe.cc5394","name":"","group":"8a56225b.55749","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":140,"wires":[]},{"id":"e5b7ca11.714358","type":"ui_gauge","z":"5631eafe.cc5394","name":"","group":"8a56225b.55749","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":220,"wires":[]},{"id":"a83239d7.0cf0b8","type":"http request","z":"5631eafe.cc5394","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Chennai,%20IN&appid=94321001b3c1e3c2ec5513b9ceb8ca36","tls":"","persist":true,"proxy":"","authType":"","x":430,"y":380,"wires":[["9a62f80b.d98078"]]},{"id":"489b0e1b.a11c1","type":"inject","z":"5631eafe.cc5394","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":210,"y":380,"wires":[["a83239d7.0cf0b8"]]},{"id":"9a9357a1.3567e8","type":"ibmiot out","z":"5631eafe.cc5394","authentication":"apiKey","apiKey":"37bf3596.1a6c7a","outputType":"cmd","deviceId":"node_id","deviceType":"node","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":460,"wires":[]},{"id":"8cb09645.30fe18","type":"ui_button","z":"5631eafe.cc5394","name":"","group":"8a56225b.55749","order":3,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"","x":520,"y":440,"wires":[["9a9357a1.3567e8"]]},{"id":"9f81acab.dede6","type":"ui_button","z":"5631eafe.cc5394","name":"","group":"8a56225b.55749","order":4,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"","x":550,"y":520,"wires":[["9a9357a1.3567e8"]]}]